
<p id="notice"><%= notice %></p>

<h1>HOMES #show</h1>

<table>
  <thead>
  <tr>
    <th>Home</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @homes.each do |home| %>
    <tr>
      <td>__Name__</td>
      <td>__Description__</td>
      <td>__Online__</td>
    </tr>
    <tr>
      <td>|<%= home.name %></td>|
      <td>|<%= home.description %></td>|
      <td>|<%if  home.online == true %>
          <%=  "Home is Online"  %>
        <%else %>
          <%=   "Home is Offline" %>
        <%end %></td>
      <td>|
      <td>
        <%= link_to 'Show', home %><br/>
        <%= link_to 'Edit',  edit_home_tenant_home_path(home.id) %><br/>
        <%= link_to 'Destroy',  home_tenant_home_path(home.id), method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>

  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'new Home', new_home_tenant_home_path %><br/>
<%= link_to 'Landing page', root_path %>


%>