
<p id="notice"><%= notice %></p>

<h1>HOMES #show</h1>
<table>
  <tbody>
    <tr>
      <td><%= @home.name %></td>
      <td><%= @home.description %></td>
      <td>
        <%if  @home.online == true %>
          <%= "Home is Online"  %>
        <%else %>
          <%= "Home is Offline" %>
        <%end %>
      </td>
      <td><%= link_to 'index', home_appointments_path(@home.id) %></td>
      <td><%= link_to 'Edit',  edit_home_appointment_path(@home.id) %></td>
      <td><%= link_to 'Destroy', @home, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  </tbody>
</table>

<br>

<%= link_to 'Landing page', root_path %>


