
<%= form_with(model: @appointement, url: home_appointements_url, local: true) do |form| %>


    <div class="field">
      <div class="field">
        <%= form.label :reservation %><br>
        <%= form.date_select :reservation %>
      </div>
      <div class="field">
        <%= form.label :doctor_patient_id %><br>
        <%= form.number_field :doctor_patient_id %>
      </div>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<%end %>